 <div class="user-details">
  <h1>About</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Model</h2>
      <i class="icon fa fa-database"></i>
      <i class="icon fa fa-server"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Optimize</h2>
      <i class="icon fa fa-sliders"></i>
      <i class="icon fa fa-tachometer"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Measure</h2>
      <i class="icon fa fa-flask"></i>
      <i class="icon fa fa-bar-chart-o"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
