<div class="user">
    <div class="tech">
      <h2>Model</h2>
      <i class="icon fa fa-server"></i>
    </div>
    <div class="tech">
      <h2>Optimize</h2>
      <i class="icon fa fa-tachometer"></i>
    </div>
    <div class="tech">
      <h2>Measure</h2>
      <i class="icon fa fa-flask"></i>
    </div>
    <div class="tech">
      <h2>Repeat</h2>
      <i class="icon fa fa-refresh"></i>
    </div>
</div>
<div class="user-details">
  <h1>Our mission</h1>
  <p>We couple leading models of protein structure and function to optimized protocols for gene synthesis, expression, and screening to accelerate custom protein development. We believe that continuous improvement through every step of the engineering cycle is our best hope to find useful proteins as quickly and inexpensively as possible.</p>
</div>
<div class="user-details">
  <h1>The company</h1>
  <p>Trident Bioscience is an early-stage biotechnology company located in Mountain View, CA. We take a highly interdisciplinary approach to protein science, with our services building upon work from leading academic labs in protein biophysics and algorithmic biopolymer design.</p>
</div>

