<div class="user">
    <div class="tech">
      <h2>Model</h2>
      <i class="icon fa fa-server"></i>
    </div>
    <div class="tech">
      <h2>Optimize</h2>
      <i class="icon fa fa-tachometer"></i>
    </div>
    <div class="tech">
      <h2>Measure</h2>
      <i class="icon fa fa-flask"></i>
    </div>
    <div class="tech">
      <h2>Repeat</h2>
      <i class="icon fa fa-refresh"></i>
    </div>
</div>
<div class="user-details">
  <h1>Our mission</h1>
  <p>We couple leading models of protein structure and function to optimized protocols for gene synthesis, expression, and screening to accelerate custom protein development. We believe that continuous improvement at every step of the process is our best hope to dramatically reduce the time and expense of lengthy protein engineering cycles.</p>
</div>
<div class="user-details">
  <h1>The company</h1>
  <p>Trident Bioscience is an early-stage biotechnology company located in Mountain View, CA. We benefit from a highly interdisciplinary approach to protein science. Our services build upon work from the leading academic labs in protein biophysics and algorithmic biopolymer design.</p>
</div>

