<div id="particles-js">
  <div class="header">
    <img alt="Trident Logo" id="logo" src="{{ "/assets/img/logo.svg" | prepend: site.baseurl }}" />
    <div class="header-links">
      <a class="link" href="#platform" data-scroll>Platform</a>
      <a class="link" href="#products" data-scroll>Products</a>
      <a class="link" href="#vision" data-scroll>Vision</a>
      <a class="link" href="#contact" data-scroll>Contact</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
