.footer {
  background: $main;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: $logo_primary;
  font-family: 'Josefin Sans', sans-serif;
  .love {
    color: $logo_secondary;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: $logo_primary;
    &:hover{
      color: $logo_secondary;
    }
    &:active {
      color: $logo_secondary;
    }
  }
}